*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}

body {
    background-color: black;
}

.img-container {
    padding: .1rem;
    margin: auto;
    max-width: 1600px;
    min-height: 100vh;
    background: url('img/fitness.webp');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.flex-container {
    margin: 1rem auto;
    max-width: 1300px;
    width: 95%;
    background-color: #333;
    color: rgba(255, 255, 255, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 1rem 0;
}

.logo p {
    color: orangered;
    font-size: 2.2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-left: 1.2rem;
}


.navbar ul {
    display: flex;
}

.navbar li {
    margin-right: 1rem;
}

.navbar li a {
    text-transform: uppercase;
}

.navbar li a:hover {
    opacity: .8;
}

.button {
    margin-right: 1.2rem;
}

.button a {
    background-color: orangered;
    color: white;
    padding: .7rem;
    border-radius: 10px;
}

.button span {
    opacity: .7;
}


main {
    margin: 0 auto;
    max-width: 1300px;
    width: 100%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    color: white;
}

main .title {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

main h3 {
    font-size: 2rem;
}


.wrapper {
    margin: 1rem auto;
    max-width: 1300px;
    width: 95%;
    background-color: #222;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1.2rem;
}

.wrapper .first p {
    text-transform: uppercase;
    font-size: 1.3rem;
}

.wrapper .first .colorized {
    color: orangered;
    text-transform: capitalize;
}

.wrapper .second p {
    margin-bottom: .3rem;
}

.wrapper .second .input {
    padding: .25rem;
}

.wrapper .third p {
    margin-bottom: .3rem;
}

.wrapper .third .input {
    padding: .25rem;
}

.wrapper .fourth .btn {
    background-color: orangered;
    color: white;
    padding: 1rem;
    border-radius: 10px;
}

.wrapper .fourth span {
    opacity: .7;
}


@media (max-width:850px) {
    .flex-container {
        flex-direction: column;
        padding-bottom: 1.5rem;
    }

    .flex-container .logo {
        margin-bottom: 1rem;
    }

    .flex-container .button {
        margin-top: 1.8rem;
        margin-left: 2rem;
    }

    main .title {
        margin-top: 1.2rem;
        margin-right: 1.8rem;
    }

    .wrapper {
        flex-direction: column;
        position: relative;
    }

    .wrapper .first {
        margin-bottom: 1.5rem;
    }

    .wrapper .second {
        position: absolute;
        top: 5rem;
        left: 8.5rem;
    }

    .wrapper .second p {
        text-align: center;
    }

    .wrapper .third {
        position: absolute;
        top: 5rem;
        right: 8.5rem;
    }

    .wrapper .third p {
        text-align: center;
    }

    .wrapper .fourth {
        margin-top: 5rem;
        margin-bottom: 1rem;
    }
}

@media (max-width:700px) {
    .wrapper .second {
        left: 3.2rem;
    }

    .wrapper .third {
        right: 3.2rem;
    }
}

@media (max-width:530px) {
    .flex-container {
        position: relative;
        align-items: flex-end;
    }

    .logo {
        position: absolute;
        left: 1.5rem;
        top: 3.5rem;
    }

    .navbar ul {
        flex-direction: column;
        margin-right: 2rem;
        width: 100%;
    }

    .navbar li {
        margin-top: 1rem;
        width: 100%;
    }

    .navbar li a {
        text-align: start;
    }

    .navbar .wrapper {
        flex-direction: column;
    }

    main {
        width: 80%;
        padding-top: 8rem;
    }

    main .title {
        font-size: 3rem;
    }

    .wrapper .second {
        position: unset;
        margin-bottom: 1.2rem;
    }

    .wrapper .third {
        position: unset;
    }

    .wrapper .fourth {
        margin-top: 2.5rem;
    }
}

@media (max-width:385px) {
    .flex-container {
        flex-direction: column;
        align-items: flex-start;
        position: unset;
    }

    .logo {
        position: unset;
    }

    .navbar ul {
        margin-left: 1.5rem;
    }

    .flex-container .button {
        margin-left: 1.5rem;
    }

    main .title {
        font-size: 2.5rem;
        color: orangered;
        margin-right: 0;
    }
}